<div class="overlay">
  <section class="container">
    <ui-close-button (click)="close.emit()" />
    <h3 class="title">Add Exercise</h3>
    <mat-stepper
      [linear]="true"
      [labelPosition]="'bottom'"
      #stepper
      class="stepper"
    >
      <form>
        <!--     Step 1. -->

        <mat-step [stepControl]="_getFormControl('findExercise')">
          <ng-template matStepLabel
            ><span class="step-title">Exercise</span></ng-template
          >
          <div class="element-and-button-box">
            <ui-title-and-autocomplete [data]="exerciseData" />
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <!--     Step 2. -->

        <ng-container *ngIf="seriesSwitcher.inputAndTitle.input.formControl">
          <mat-step
            [stepControl]="
              seriesViewScenario === 'default'
                ? seriesSwitcher.inputAndTitle.input.formControl
                : specifySeriesScenarioTwo
            "
          >
            <ng-template matStepLabel
              ><span class="step-title">{{
                seriesSwitcher.inputAndTitle.title
              }}</span></ng-template
            >
            <div class="element-and-button-box">
              <app-input-and-autocomplete-switcher
                (scenario)="captureSwitcherViewScenario($event, seriesSwitcher)"
                [inputData]="seriesSwitcher.inputAndTitle"
                [additionalOptionsData]="seriesSwitcher.titlesAndAutocompletes"
              ></app-input-and-autocomplete-switcher>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
        </ng-container>

        <!--     Step 3. -->

        <mat-step>
          <ng-template matStepLabel
            ><span class="step-title">{{
              weighSwitcher.inputAndTitle.title
            }}</span></ng-template
          >
          <div class="element-and-button-box">
            <app-input-and-autocomplete-switcher
              (scenario)="captureSwitcherViewScenario($event, weighSwitcher)"
              [inputData]="weighSwitcher.inputAndTitle"
              [additionalOptionsData]="weighSwitcher.titlesAndAutocompletes"
            ></app-input-and-autocomplete-switcher>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <!--     Step 4. -->

        <mat-step
          [stepControl]="
            repsRangeViewScenario.additionalParam === 'auto'
              ? _getFormControl('specifyRepsFirstScenario')
              : _getFormControl('specifyRepsSecondScenario')
          "
        >
          <ng-template matStepLabel
            ><span class="step-title">Reps</span></ng-template
          >
          <div class="element-and-button-box">
            <ui-decorated-input-group
              [data]="repsRangeViewScenario"
              (emitClickEvent)="changeRepsRangeViewScenario()"
            />
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <!--     Step 5 , 6. -->

        <mat-step *ngFor="let data of rateAndBreakFields">
          <ng-template matStepLabel
            ><span class="step-title">{{ data.title }}</span></ng-template
          >
          <div class="element-and-button-box">
            <ui-decorated-input-group [data]="data" />
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <!--     Step 7. -->

        <mat-step>
          <ng-template matStepLabel
            ><span class="step-title">RPE</span></ng-template
          >
          <div class="element-and-button-box">
            <app-input-and-autocomplete-switcher
              [inputData]="getRpeSwitcher.inputAndTitle"
              [additionalOptionsData]="getRpeSwitcher.titlesAndAutocompletes"
            ></app-input-and-autocomplete-switcher>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
      </form>
    </mat-stepper>
  </section>
</div>
