.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 16px -6px rgba(80, 85, 113, 1);
  -moz-box-shadow: 0px 0px 16px -6px rgba(80, 85, 113, 1);
  box-shadow: 0px 0px 16px -6px rgba(80, 85, 113, 1);

  .hamburger-menu-and-logo-box {
    display: flex;
    flex-wrap: wrap;

    &__logo {
      height: 45px;
      opacity: 0.8;
    }
  }
}
