<header>
  <mat-toolbar color="warn" class="header">
    <div class="hamburger-menu-and-logo-box">
      <button mat-icon-button (click)="openHamburgerNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="hamburger-menu-and-logo-box__logo" [src]="logoPath" />
      <ui-navigation
        [isSmallDevice]="isSmallDevice"
        [hamburgerMenuState]="hamburgerMenuState"
        [isHamburgerNav]="true"
      ></ui-navigation>
    </div>
    <ui-navigation *ngIf="!isSmallDevice"></ui-navigation>
    <div class="log-in-and-register-box">
      <div>Log in | register</div>
    </div>
  </mat-toolbar>
</header>
