<footer class="footer">
  <section class="title-and-links-box">
    <h3 class="title-and-links-box__title">Find me on:</h3>
    <div class="title-and-links-box__links">
      <ui-icon-link
        *ngFor="let data of socialMediaData"
        [socialMediaData]="data"
      ></ui-icon-link>
    </div>
  </section>
  <div class="text-box">
    <span class="text-box__text">All rights reserved.</span>
    <span class="text-box__text"
      >&copy; Kacper Froncirz Development {{ date | date : "YYYY" }}</span
    >
  </div>
</footer>
