<ng-container>
  <div class="trening-week-box">
    {{ treningWeekData.weekName }}
    <div class="title-and-trening-week">
      <div
        class="trening-day-box"
        *ngFor="let day of treningWeekData.treningDays"
      >
        <ui-title-on-bar [title]="day"></ui-title-on-bar>
        <app-table
          [columns]="tableColumns"
          [dataSource]="dataSource"
          [isClicableRows]="false"
          [isClicableParams]="true"
          (tableRowAndCellLocation)="captureRowAndCellKey($event)"
          (clickCell)="captureCellValue($event)"
        ></app-table>

        <button
          (click)="emitOpen.emit()"
          class="add-ex-button"
          mat-flat-button
          color="primary"
        >
          Add Ex +
        </button>
      </div>
    </div>
  </div>
</ng-container>
