<div class="container">
  <h3 class="title">{{data.title}}</h3>
  <div class="inputs-and-decorations-box">
    <ng-container *ngFor="let input of data.inputs">
      <mat-form-field
        *ngIf="input.formControl"
        [appearance]="input.appereance"
        [ngStyle]="{width: '70px'}"
      >
        <mat-label>{{input.matLabel}}</mat-label>
        <input
          matInput
          [placeholder]="input.placeholder"
          [formControl]="input.formControl"
        />
      </mat-form-field>

      <div
        class="inputs-and-decorations-box__decoration"
        *ngIf="isNotLastInput(input)"
      >
        {{partingDecoration}}
      </div>
    </ng-container>
  </div>

  <button
    *ngIf="data.hasButton"
    (click)="emitClickEvent.emit()"
    mat-button
    class="button"
  >
    {{ data.buttonTitle }}
  </button>
</div>
