<ui-page-information-bar [header]="'Options'"></ui-page-information-bar>
<main class="container">
  <nav class="side-nav">
    <button
      *ngFor="let text of buttonsText; let i = index"
      [ngStyle]="i === 0 ? { 'border-radius': '10px 0 0 0' } : null"
      (click)="selectOption(text)"
      class="button"
      mat-button
    >
      {{ text }}
    </button>
  </nav>
  <!--   <ng-container *ngFor="let page of optionsPages">
    <ui-options-form
      class="options-template"
      *ngIf="page.title === selectedOption"
      [optionsPage]="page"
    ></ui-options-form>
  </ng-container> -->
</main>
