<div class="container">
  <div class="login-panel">
    <h3 class="title">Login</h3>
    <app-dynamic-form
      [controlsDirection]="inputsData$ | async"
      [buttonText]="'Login'"
      (sumbit)="sendForm($event)"
    ></app-dynamic-form>

    <div class="register-and-remind-password">
      <span
        class="register-and-remind-password__text"
        *ngFor="let pathAndText of routerPathAndText"
        [routerLink]="pathAndText.path"
        >{{ pathAndText.text }}</span
      >
    </div>
  </div>
</div>
