<mat-stepper
  [formGroup]="planCreatorForm"
  [linear]="true"
  [orientation]="stepperOrientation"
  [labelPosition]="'bottom'"
  #stepper
>
  <!-- Step 1: Create template -->
  <ng-container [formGroup]="checkWeeksOptionFormGroup">
    <mat-step [stepControl]="checkWeeksOptionFormGroup">
      <ng-template matStepLabel>Create template</ng-template>
      <ui-title-and-radio-button
        formControlName="firstControl"
        [data]="radioButtonsData"
      ></ui-title-and-radio-button>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </ng-container>
  <!-- Step 2: How often do you want to train? -->
  <mat-step [stepControl]="setCheckboxesFormScenario()">
    <ng-template matStepLabel>How often do you want to train?</ng-template>
    <ui-title-and-chips
      [data]="matChipsData"
      (chipChange)="captureChipValue($event)"
    ></ui-title-and-chips>
    <div>
      <ui-title-and-checkbox
        *ngFor="let scenario of getCheckboxesDataScenario()"
        [data]="scenario"
      >
      </ui-title-and-checkbox>
    </div>
    <mat-error
      *ngIf="
        setCheckboxesFormScenario().invalid &&
        setCheckboxesFormScenario().touched
      "
      ><span class="error-message"
        >At least one field is required!</span
      ></mat-error
    >
    <div>
      <button
        mat-button
        matStepperNext
        (click)="markFormAsTouched(setCheckboxesFormScenario())"
      >
        Next
      </button>
    </div>
  </mat-step>
  <!-- Step 3: Done -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    <button mat-button (click)="test()">Create template</button>
  </mat-step>
</mat-stepper>
