<mat-stepper
  [linear]="true"
  [orientation]="stepperOrientation"
  [labelPosition]="'bottom'"
  #stepper
>
  <ng-container [formGroup]="checkWeeksOptionFormGroup">
    <mat-step [stepControl]="checkWeeksOptionFormGroup">
      <ng-template matStepLabel>Create template</ng-template>
      <ui-title-and-radio-button
        formControlName="firstControl"
        [data]="radioButtonsData"
      ></ui-title-and-radio-button>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </ng-container>
  <mat-step [stepControl]="setCheckboxesFormScenario()">
    <ng-template matStepLabel>How often do you want to train?</ng-template>
    <ui-title-and-chips
      [data]="matChipsData"
      (chipChange)="captureChipValue($event)"
    ></ui-title-and-chips>
    <div>
      <ui-title-and-checkbox
        *ngFor="let scenario of getCheckboxesDataScenario()"
        [data]="scenario"
      >
      </ui-title-and-checkbox>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    <button mat-button>Create template</button>
  </mat-step>
</mat-stepper>
