table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.save-ex-changes-form {
  display: flex;
  align-items: center;

  .series-and-button {
    display: flex;
    align-items: center;
  }

  .series-box {
    display: flex;
    flex-direction: column;
  }

  .dupa {
  }
}
