.container {
  display: flex;
  flex-direction: column;
  .stepper-form {
    padding: 50px;
  }
  .tables-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 10px;
  }

  .button {
    margin-top: 12px;
  }
}
