<div class="container">
  <ui-page-information-bar [header]="'Create Plan'"></ui-page-information-bar>
  <div class="stepper-form">
    <app-trening-plan-creator />
  </div>
  <div class="tables-box">
    <app-trening-day
      *ngFor="let day of daysOfWeek"
      [dayOfWeek]="day"
      (emitEvent)="openAddExercise()"
    ></app-trening-day>
  </div>
  <button class="button" mat-raised-button color="accent">
    Create your trening plan
  </button>

  <app-add-exercise
    (close)="closeAddExercise()"
    *ngIf="isFormOpened"
  ></app-add-exercise>
</div>
