<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <nav>
    <mat-tree-node *matTreeNodeDef="let branch">
      <button mat-icon-button disabled></button>
      <a class="page-adress" href="#"
        ><div class="button-and-icon">
          <button class="button-and-icon__button" mat-button>
            {{ branch.name }}
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </button></div
      ></a>
    </mat-tree-node>
  </nav>

  <mat-tree-node
    *matTreeNodeDef="let branch; when: whenBranchHasChild"
    matTreeNodePadding
  >
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{ branchIsExpended(branch) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>

    {{ branch.name }}
  </mat-tree-node>
</mat-tree>
