<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of columns" matColumnDef="{{ column }}">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let columnData">
      <ui-edit-param-button
        [column]="column"
        [row]="columnData"
      ></ui-edit-param-button>

      <button
        (click)="emitCloseButtonEvent.emit()"
        mat-icon-button
        *ngIf="column === 'Close'"
      >
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
