<mat-stepper [linear]="true" [orientation]="stepperOrientation" #stepper>
  <mat-step>
    <ng-template matStepLabel>Create template</ng-template>
    <ui-title-and-radio-button
      [radioButtonsData]="radioButtonsData"
    ></ui-title-and-radio-button>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="
      checkboxsDataTreningDays.formGroup &&
      (isOpenedElasticPlan
        ? checkboxsDataSecondWeek.formGroup
        : checkboxsDataTreningDays.formGroup)
    "
  >
    <ng-template matStepLabel>How often do you want to train?</ng-template>
    <ui-title-and-chips
      [title]="title"
      (chipChange)="openElasticPlanForm($event)"
    ></ui-title-and-chips>
    <div [ngClass]="{ 'prular-checkbox-wrapper': isOpenedElasticPlan }">
      <ui-title-and-checkbox [checkboxData]="checkboxsDataTreningDays">
      </ui-title-and-checkbox>
      <ui-title-and-checkbox
        *ngIf="isOpenedElasticPlan"
        [checkboxData]="checkboxsDataSecondWeek"
      >
      </ui-title-and-checkbox>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="additionalParamsCheckboxData.formGroup">
    <ng-template matStepLabel>Menage parametrs</ng-template>
    <ui-title-and-checkbox
      [checkboxData]="additionalParamsCheckboxData"
    ></ui-title-and-checkbox>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    <button mat-button>Create template</button>
  </mat-step>
</mat-stepper>
