<mat-stepper [linear]="true" class="stepper" #stepper>
  <mat-step *ngFor="let step of steps" [stepControl]="step.formGroup">
    <ng-template matStepLabel>{{ step.title }}</ng-template>
    <div class="inputs-and-button-box">
      <div class="inputs">
        <mat-form-field
          class="inputs__input"
          *ngFor="let input of step.inputsData"
          [appearance]="input.appereance"
        >
          <mat-label>{{ input.matLabel }}</mat-label>
          <input
            matInput
            [formControl]="input.formControl!"
            [placeholder]="input.placeholder"
          />

          <mat-error
            class="error-message"
            [innerHTML]="setErrorsMessages(input.formControl!)"
          ></mat-error>
        </mat-form-field>
      </div>

      <ui-timer></ui-timer>
      <button
        (click)="onSubmit(step.formGroup)"
        mat-raised-button
        matStepperNext
      >
        Next
      </button>
    </div>
  </mat-step>
</mat-stepper>
