<mat-stepper [linear]="true" class="stepper" #stepper>
  <mat-step *ngFor="let step of steps" [stepControl]="step.formGroup">
    <ng-template matStepLabel>{{ step.title }}</ng-template>
    <div class="inputs-and-button-box">
      <div class="inputs">
        <ui-decorated-input-group
          [data]="createDecoratedInputs(step)"
        ></ui-decorated-input-group>
      </div>

      <ui-timer></ui-timer>
      <button
        (click)="onSubmit(step.formGroup)"
        mat-raised-button
        matStepperNext
      >
        Next
      </button>
    </div>
  </mat-step>
</mat-stepper>
