.stepper {
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  .inputs-and-button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-message {
      font-size: 7px;
      width: 100px;
      position: absolute;
      line-height: 1;
      text-align: center;
      left: -15px;
    }

    .inputs {
      margin-top: 20px;
      display: flex;
      gap: 5px;
      &__input {
        width: 70px;
      }
    }
  }
}
