<nav>
  <div
    [ngStyle]="isSmallDevice ? { top: '56px' } : { top: '63px' }"
    [@hamburgerMenuAnimation]="isHamburgerNav ? hamburgerMenuState : null"
    [ngClass]="{ 'hamburger-nav-container': isHamburgerNav }"
  >
    <ng-container *ngFor="let button of navigationButtons">
      <button
        mat-button
        [matMenuTriggerFor]="
        button.menu.length > 0 && !isHamburgerNav ? menu : null
        "
      >
        <i class="{{ button.icon }}"></i>
        {{ button.title }}
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of button.menu">
          {{ menu.title }}
        </button>
      </mat-menu>

      <ng-container *ngIf="isHamburgerNav">
        <button class="sub-point" *ngFor="let menu of button.menu" mat-button>
          {{ menu.title }}
        </button>
      </ng-container>
    </ng-container>

    <div *ngIf="isHamburgerNav" class="social-media-adress-box">
      <ui-icon-link
        *ngFor="let data of socialMediaData"
        [socialMediaData]="data"
      ></ui-icon-link>
    </div>
  </div>
</nav>
