.form-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  .column-direction {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .row-direction {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
}
