<div class="container">
  <ui-bolt-title
    [title]="optionsPage.title"
    [fontSize]="'22px'"
  ></ui-bolt-title>
  <div class="edit-profile-field">
    <ui-edit-image
      *ngIf="optionsPage.form.editImageData !== null"
      [data]="optionsPage.form.editImageData"
    ></ui-edit-image>

    <ui-textarea-and-title
      *ngIf="optionsPage.form.textArea !== null"
      [data]="optionsPage.form.textArea"
    ></ui-textarea-and-title>

    <ng-container *ngIf="optionsPage.form.inputsAndTitles !== null">
      <ui-input-and-title
        *ngFor="let inputAndTitle of optionsPage.form.inputsAndTitles"
        [data]="inputAndTitle"
        [position]="'vertical'"
      ></ui-input-and-title>
    </ng-container>

    <ng-container *ngIf="optionsPage.form.autocomplete !== null">
      <ui-title-and-autocomplete
        [data]="optionsPage.form.autocomplete"
        *ngIf="optionsPage.form.autocomplete !== null"
      ></ui-title-and-autocomplete>
    </ng-container>

    <ng-container *ngIf="optionsPage.form.sliders !== null">
      <mat-slide-toggle *ngFor="let slider of optionsPage.form.sliders">{{
        slider.text
      }}</mat-slide-toggle></ng-container
    >
    <button *ngIf="optionsPage.form.button !== null" mat-button color="primary">
      {{ optionsPage.form.button }}
    </button>
  </div>
</div>
